[2018-04-24 15:03] ghost opened #1 "Page & Menu Layout"
Main content column to have a fixed max width. Centre on page.

Ideally top menu and side bar to be fixed and not scrollable.

[2018-04-24 15:04] ghost opened #2 "Style Side Menu"
With expand / collapse as in design mockups

[2018-04-24 15:08] ghost opened #3 "Can we have headings on the page that don't appear in the TOC?"
Example: headings in whatisbo should not be in TOC

[2018-04-24 15:41] ghost opened #4 "sphinxcontrib-jsonschema extension is not working"
When it is working, all csv-table directives need to be changed to this.

[2018-04-24 15:53] ghost opened #5 "Can we avoid having to edit conf.py by hand?"

[2018-04-24 15:56] ghost commented on #4
@bjwebb Can I ask if you have any pointers on this?

I installed sphinxcontrib-jsonschema via pip and get:

[code]

[2018-04-24 16:00] ghost commented on #4
My notes: https://github.com/openownership/data-standard/commit/76a9eb49534d148db1a02447d3b011548077e493 is the commit where these directives was introduced but I can't see anything about including libraries here.

[2018-04-24 16:09] Bjwebb commented on #4
We have a custom version of sphinxcontrib-jsonschema, have you got that installed? https://github.com/openownership/data-standard/blob/60-refactor-docs/requirements.txt#L7

[2018-04-24 16:10] ghost commented on #4
Nope, I was using pip! Thanks, I will check that out.

[2018-04-24 16:11] Bjwebb commented on #4
BTW, that file can be installed with pip with `pip install -r requirements.txt`. Just this dependency could be installed with `pip install -e git+https://github.com/OpenDataServices/sphinxcontrib-jsonschema.git@e39a92f4238bf022db11e4e88ba92fdaff2b31c9#egg=sphinxcontrib-jsonschema`

[2018-04-24 16:11] Bjwebb commented on #4
The instructions at https://github.com/openownership/data-standard/tree/60-refactor-docs#build-the-docs-locally might also be useful for getting set up.

[2018-04-24 16:26] kd-ods opened #6 "Style the highlights class for blockquotes - suggestion below"
The highlights directive is working, creating HTML like this:
[code]
A style something like this would be good:

blockquote.highlights {
    margin: 2em 0 1em;
    border: solid #fdd106;
    border-width: 1px 1px 1px 10px;
    border-radius: 4px;
    padding: 25px 30px;
    font-size: 120%;
}

[2018-04-24 16:28] ghost commented on #4
Fixed that error by installing lib directly. (I should maybe look at using requirements.txt for this project generally.)

I now have another error:

That does seem to be in the file correctly. I will try and work out what is going on in a day or two.

[2018-04-24 16:33] kd-ods opened #7 "Top menu: change 'Schemer' to 'Schema'"
(Is this a theme issue at all? Maybe this is set in the docs markdown somewhere, but I couldn't find it.)

[2018-04-24 16:34] ghost commented on #6
I tried adding that CSS quickly but it looks a bit odd and I want to check if the design mockups have anything for this.

[2018-04-24 16:36] ghost commented on #7
I did wonder what a "schemer" was! You can change this easily in https://github.com/openownership/data-standard-sphinx-theme/blob/master/themes/oods/navbar.html or I'll pick this up in a day or two.

[2018-04-24 16:50] kd-ods commented on #6
Ahh. I thought it would look something like this, and would do for now. (I don't think Matt prepared anything for highlights/blockquotes.) I'll leave it to you and stop interfering!

![image](https://user-images.githubusercontent.com/35495305/39201681-a77e8a68-47e7-11e8-830a-7c039ba5de18.png)

[2018-04-25 07:24] #7 closed, assigned to nobody

[2018-04-25 07:39] ghost commented on #6
If you look at Data Schema -> Specification you'll see a yellow attention highlight box at the top - that came from the design spec. We could just reuse that ....

_Just add ".highlights" to the https://github.com/openownership/data-standard-sphinx-theme/blob/master/themes/oods/static/oods.css_t file_

But I wonder if at this stage a review of the different shout out boxes being used would be good

[2018-04-25 07:40] ghost opened #8 "Vagrant box: like we have build-all command, add build-sphinx command"
Most people won't need to build the Bootstrap theme each time and this will be faster.

[2018-04-25 08:16] ghost commented on #4
This is broken because!

When @Bjwebb added the directives the data files did not have any external references
Then Jack added some external references
And our own library does not support external refs: https://github.com/OpenDataServices/sphinxcontrib-jsonschema/blob/master/sphinxcontrib/jsonschema.py#L30

[2018-04-25 10:19] ghost commented on #4
Ok, so this commit https://github.com/OpenDataServices/sphinxcontrib-jsonschema/commit/b7332e8fd5c788ee59b983396102ddc38967a3d0 adds the placeholder class that doesn't allow any loading. If I reverse the commit, it will now .... let us move on to the next problem! :tada:

I don't think the https://pypi.org/project/jsonref/ library supports external refs the way we use them. See https://github.com/

[2018-04-25 10:46] ghost commented on #8
TODO: Add something about this to readme

[2018-04-25 11:01] ghost commented on #4
Ok, final problem is simply that i think
[code]
has now been broken by the splitting into separate JSON files - beneficial-ownership-statement.json has no definitions object.

So, to list the things that I think need fixing:

- [ ] https://github.com/OpenDataServices/sphinxcontrib-jsonschema/commit/b7332e8fd5c788ee59b983396102ddc38967a3d0 needs to be reversed/bypassed
- [ ] https://pypi.org/projec

[2018-04-25 13:02] ghost commented on #4
Oh wait, it does! But you have pass base_uri! https://github.com/gazpachoking/jsonref/issues/8#issuecomment-226969318

[2018-04-25 15:07] ghost opened #9 "Add to readme - remove unneeded extension? sphinxcontrib.opendataservices"
Don't think this is actually used for anything.

[2018-04-25 15:18] ghost commented on #4
So progress has been made on this!

https://github.com/OpenDataServices/sphinxcontrib-jsonschema/pull/8 has been opened to discuss the changes needed there.

About to do a commit so that the vagrant box will use the version of the library that is in the P.R.

Then, what is left to do:

- [ ] Go through and change all csv-table to jsonschema
- [ ] One of the two jsonschema directives in the 60 bran

[2018-04-25 16:05] #9 closed, assigned to nobody

[2018-04-25 16:11] #8 closed, assigned to nobody

[2018-04-25 16:22] ghost commented on #3
@kd-ods The way to do this would be not to use the heading formatting but instead just use some HTML:

```` <h2>Companies or people can own other companies...</h2> ````

[2018-04-25 16:23] kd-ods commented on #3
Brilliant! Thanks, James.

[2018-04-25 16:32] #3 closed, assigned to nobody

[2018-04-26 10:24] ghost commented on #2
Done CSS for this. Adding Expand and Collapse will require some JS work.

[2018-04-26 13:00] ghost commented on #1
This works in Desktop. But not in mobile. Working on that, cos, you know, it's 2018.

[2018-04-26 14:56] ghost commented on #1
This is looking better now, except for a weird bug where the 2 columns can overlap.

[2018-04-26 14:57] ghost opened #10 "Make Breadcrumbs work"
Currently "Docs" is hardcoded in https://github.com/openownership/data-standard-sphinx-theme/blob/master/themes/oods/breadcrumbsedit.html#L4

[2018-04-26 15:02] ghost opened #11 "Annotate and Nav Menu buttons to close on mobile"
![screen shot 2018-04-26 at 16 01 07](https://user-images.githubusercontent.com/37832009/39313939-17303d3c-496b-11e8-9b30-ff79a745091f.png)

I think we're going to hear from people that there isn't enought seperation and it's to hard to press the menu.

[2018-04-26 16:16] ghost commented on #1
That might be it????!!!!!! Need to test more.

[2018-04-26 16:28] #10 closed, assigned to nobody

[2018-04-27 08:16] #11 closed, assigned to nobody

[2018-04-27 08:44] ghost commented on #1
(Note: there is a hardcoded measurement in here which I don't like, but that's what the official Bootstrap example has ....)

[2018-04-27 11:21] kd-ods opened #12 "Adjust size and spacing of level 2 headings (in the main body)"
Something like?

h2, .h2 {
    font-size: 1.6rem;
    margin: 2.5rem 0 1rem;
}

[2018-04-27 11:22] kd-ods opened #13 "Increase general font size and height"
Suggestion:

body {
    font-size: 1.15rem;
    line-height: 1.6;
}

[2018-04-27 11:23] kd-ods opened #14 "Decrease max-width of main body (and make relative to font-size)"
Suggestion:

.oods-main {
    max-width: 38em;
}

[2018-04-27 11:27] kd-ods opened #15 "Image styling"
I think for the moment just centring images in the main column will work. (We don't need borders or anything.)

[2018-04-27 12:40] ghost commented on #6
I've styled hightlights directive with yellow for now, we can return to this if wanted.

[2018-04-27 12:40] #6 closed, assigned to nobody

[2018-04-27 12:51] ghost commented on #15
This will do all images in the content, which at the moment looks fine.

[2018-04-27 12:51] #15 closed, assigned to nobody

[2018-04-27 12:58] #13 closed, assigned to nobody

[2018-04-27 13:03] ghost commented on #12
I'm going to let @kd-ods recheck this after seeing the affects of #13.
H2 is now 2.3rem
H3 is now 2.0125rem
So we should maybe change both?

[2018-04-27 13:13] ghost commented on #14
Used "rem" rather than "em" tho - "rem" isn't subject to problems with inheritance.

[2018-04-27 13:13] #14 closed, assigned to nobody

[2018-04-27 14:32] #12 closed, assigned to nobody

[2018-04-27 16:08] kd-ods opened #16 "Sidebar menu title"
If possible, add a section title/link to the sidebar menu (to aid with user orientation). E.g.

## About
  Credits
  Governance

[2018-04-27 16:11] ghost commented on #1
Added some JS to help with this.

Closing as done - if we find issues in common browsers, we will open new specific issues.

[2018-04-27 16:11] #1 closed, assigned to nobody

[2018-04-27 16:14] ghost commented on #16
Did you have a style in mind for that - I'm guessing Green?

[2018-04-27 16:22] ghost commented on #16
Ok, I've pushed something, have a look and comment on the style.

[2018-04-27 16:56] kd-ods commented on #16
Great!

[2018-04-27 17:09] kd-ods opened #17 "Better control of TOCs in sidebar & content"
I'd like to be able to control the TOC appearing in the sidebar without the TOC appearing within a markup page.

Using the 'hidden' option for the TOC directive hides it within the main page as expected -

.. toctree::
   :hidden:
   :maxdepth: 1

   credits.md
   governance.md

But it also hides the TOC contents from the sidebar. According to [this Sphinx issue](https://github.com/sphinx-doc/sphi

[2018-05-01 08:58] #16 closed, assigned to nobody

[2018-05-01 09:05] ghost commented on #17
So calling toctree() with includehidden=True is an easy change to make to the code and it looks like it does what you want, but there is a problem.

That side menu disappears on narrow screens (mobiles, etc) and there isn't currently a way to get it back. Which means that on mobiles, no-one could navigate to the sub-pages.

One normal UI pattern is a hamburger menu that opens the side menu, but we

[2018-05-01 13:18] ghost commented on #17
Done after discussion with @kd-ods.
However "about" page needs a bit more thought about navigation, and what sections should and shouldn't be there.

[2018-05-01 13:18] #17 closed, assigned to nobody

[2018-05-01 16:01] kd-ods opened #18 "Schema browser widget - not fully functional"
The [old schema browser here](http://beneficial-ownership-data-standard.readthedocs.io/en/master/schema.html#schema-browser) allowed the user to click on an object and see its structure. (For example, in 'statementGroups array Statement group', the 'Statement group' is a clickable button.)

As the docs are now building, the same functionality is not present.

[2018-05-02 11:38] kd-ods opened #19 "Deal with 3rd level page navigation"
At the moment a page in the third tier like:

Data schema > Technical Requirements > Provenance info

... does not have a correctly structured breadcrumb and the page is not bolded etc in the side-panel navigation as you might expect. See the image below:

![image](https://user-images.githubusercontent.com/35495305/39521262-b1b57fea-4e05-11e8-9d01-941dacb1ffdf.png)

[2018-05-04 11:46] kd-ods opened #20 "Nicely styling in-page TOCs would make navigation more pleasant"
For example [this page](https://github.com/openownership/data-standard/blob/60-refactor-docs/docs/technical-requirements.md) currently looks like this:

![image](https://user-images.githubusercontent.com/35495305/39626155-b445b13c-4f98-11e8-9366-c14073d213ee.png)

Even just having each list item styled as a big button would improve the look and feel. (TBH I don't think there's an existing style in

[2018-05-04 15:15] kd-ods opened #21 "Update style for inline JSON object names"
That is: for text marked up like

```statementGroups```

... style it as [Matt recommends](https://drive.google.com/open?id=143gZvXl52Bj7g6OYbkgDCtM8Gjv23oNs).

[2018-05-04 15:36] kd-ods opened #22 "The fixed top menu obscures in-page anchors"
For example, when following a link to the entityStatement section of the schema reference:

/schema.html#entitystatement

... the 'EntityStatement' heading is hidden under the top menu.

[2018-05-09 13:56] kd-ods commented on #18
We need to add a symlinks to the _static directory.

The references in the schemas are currently relative paths- can we make that work?

Try the latest version of the main docson library. (We're currently using a fork of that main library.)

[2018-05-09 16:05] ghost commented on #5
With the latest changes this is almost done!

This issue might have now become part of a bigger issue - the work is split across this repo and https://github.com/openownership/data-standard . The vagrant stuff is in this repo. At least one requirement is duplicated across the repos ( https://github.com/OpenDataServices/sphinxcontrib-jsonschema ) - that's not great. Can we tidy all this up a bit?

[2018-05-16 08:01] ghost opened #23 "setup.py is missing a comma"
Between

        'sphinxtheme/static/bootstrap-4.0.0/js/*.js'
        'sphinxtheme/static/bootstrap-4.0.0/js/*.js.map'

[2018-05-16 15:10] kd-ods opened #24 "Implement front page layout"
We'd like to use Bootstrap 'cards' or similar for a front page like this:

https://drive.google.com/file/d/1ylaUl_DwkdS4C77KUfx9bvNWXnEMhelG/view

[2018-05-23 09:09] kd-ods opened #25 "Improve link style in main content area"
Links in the main content area don't stand out enough from the body text. A quick fix would be adding 'text-decoration: underline' to 'oods-main a'.

For a prettier fix, I can ask Matt to look at this on 12th June.

[2018-05-23 09:14] kd-ods opened #26 "Adjust link hover colour on top nav menu"
At the moment on hovering over those menu items you get a black on dark turquoise. Try the yellow (#fdd106) instead.

[2018-05-29 12:25] timgdavies opened #27 "Remove/demote link to 'Edit on GitHub'"
There is a prominent link on the current theme to 'Edit on GitHub'

Whilst we will be inviting people to contribute to the documentation, we should downplay the idea of making direct documentation pull requests.

I would suggest for now we either:

(a) Remove the 'Edit on GitHub' link entirely;

(b) Move this to be a low-key link in the footer.

[2018-06-05 15:21] ghost commented on #19
Done, but leaving this open until this makes it onto RTD properly

[2018-06-05 15:32] ghost commented on #26
Done, but leaving this open until this makes it onto RTD properly

[2018-06-05 15:49] ghost commented on #25
Done, but leaving this open until this makes it onto RTD properly

[2018-06-05 15:51] #23 closed, assigned to nobody

[2018-06-05 15:58] ghost commented on #21
Done, but leaving this open until this makes it onto RTD properly

[2018-06-05 16:00] ghost commented on #20
I don't know about just a button - I think if we were going down that route something else would be needed ....

(Also to note this screen-shot has changed - now has underlines)

[2018-06-05 16:02] ghost commented on #27
This is from original design - tho we can still change it. Comments @kd-ods @ScatteredInk ?

[2018-06-05 16:04] ghost commented on #24
This link is broken and I can't see anything in the folder of design mockups - do we have more on this?

[2018-06-05 16:14] ghost commented on #19
This in now on RTD.

[2018-06-05 16:14] ghost commented on #26
This in now on RTD.

[2018-06-05 16:14] #26 closed, assigned to nobody

[2018-06-05 16:14] ghost commented on #25
This in now on RTD.

[2018-06-05 16:14] #25 closed, assigned to nobody

[2018-06-05 16:15] ghost commented on #21
This in now on RTD.

[2018-06-05 16:15] #21 closed, assigned to nobody

[2018-06-07 19:15] kd-ods commented on #24
Sorry, James - try the edited link above.

[2018-06-12 09:28] kd-ods commented on #27
My preference would be to remove it entirely. If that's not possible then:

* Change the text to 'View on GitHub', and
* Move to footer as a low-key link

[2018-06-12 09:37] ghost commented on #27
It's totally possible to remove it entirely if wanted.

[2018-06-12 12:55] M4TEU5 opened #28 "Link style"
Links are the primary green with the lighter green as for the underline. The underline is set as a border bottom rather than text decoration. This then also fills in on hover.

Here's a code pen
https://codepen.io/anon/pen/KemqBE

[2018-06-12 12:57] M4TEU5 opened #29 "Nav Bar"
Should have a slight shadow on to help lift it from the main content.

[2018-06-12 12:59] M4TEU5 opened #30 "Alignment"
Menu items in the Nav Bar, Bread crumbs, and body should all be aligned and centered within the space from the side bar. Thanks!

[2018-06-12 12:59] M4TEU5 opened #31 "Spacing"
I have increased the line height of the type, added in more space before and after elements.

[2018-06-12 13:02] M4TEU5 opened #32 "Side Bar"
I've removed the dark grey background colour introduced heaps more space ( as we don't seem to have that many items across the board (but nowt wrong with scrolling. There is a screenshot on the drive that contains different elements, current section. Hover, sub-section, current selection of a subsection ;)

[2018-06-12 13:11] M4TEU5 opened #33 "Side bar spacing"
Introduced more space around the search bar and squared owf it's edges.

[2018-06-12 13:13] M4TEU5 opened #34 "side bar accordian"
Found this animation/transition that would be sweet if we could implement for when the user is opening and closing the menu items in the sidebar. just going for the transition effects here rather than the visuals, something like this would be sweet. Ta

https://codepen.io/matthewhirsch/pen/rLOYGr

[2018-06-13 11:20] ghost commented on #34
Thanks - this will be relevant to #2.

[2018-06-13 11:51] ghost opened #35 "Navbar - hightlight items grey with same underline. Unselected items grey."
Does the highlight text colour, but need to do the underscore and the unselected items.

From @M4TEU5's work on 12th June 2018.

[2018-06-13 11:54] #29 closed, assigned to nobody

[2018-06-13 12:06] ghost commented on #28
Done, but I note that on the data page the RFC2119 link isn't highlighting fully, and that may be an accessibility issue.

[2018-06-13 12:06] #33 closed, assigned to nobody

[2018-06-13 12:41] kd-ods commented on #32
The [screenshot is here](https://drive.google.com/file/d/14a-kwOUqXoC7qREu6b58fdN_DkjPY5Ar/view)

[2018-06-20 11:12] timgdavies opened #36 "Docson dependency & reference resolution"
(I'm not sure if this best belongs as part of the theme, or as part of the docs repo: but putting here to avoid it getting lost amongst standard issues)

We use [docson](https://github.com/lbovet/docson) as a schema viewer.

At present this is a sub-module in the docs [/_static/ folder](https://github.com/openownership/data-standard/tree/master/docs/_static).

The version we use does not have this

[2018-06-21 11:18] ghost commented on #36
(1) Maybe it should probably be part of the the data-standard repository, as in theory someone could take the content and use it with a different theme, and in those cases, docson would be required? (I think) I don't know tho.
(2) The readme for this repo only mentions Vagrant and it's in that ;-) Could be in https://github.com/openownership/data-standard/blob/master/README.md tho.
(3) Ok, I'm goi

[2018-06-21 11:19] timgdavies commented on #36
Thanks :) Reasoning for having this in the standard makes sense to me :)

Thanks for looking into (3).

[2018-06-21 14:14] ghost commented on #36
Ok, so I've made a version of docson with all the latest code, and our 2 small patches on top of it.

To try it, Change to the docson directory and run:

[code]

NOTE; if you commit at this point you'll also commit this update for everyone. You probably don't want to do that! To put this back how it was before, run:

[code]

Anyway, give that a good test, let me know if it solves your problem. (Fo

[2018-06-21 14:25] timgdavies commented on #36
Just tested and that commit was working nicely in a fresh rebuild of the docs :)

[2018-06-21 14:50] ghost commented on #36
Cool - I'm not sure what branch to go for but if you want to commit this on a branch of the data standard, simply run the "git checkout 320619...." command in the "docson" folder and then go up to the "data-standard" folder and git commit as normal. It should show a change in "docs/_static/docson"

[2018-07-04 15:55] #19 closed, assigned to nobody

[2018-07-04 15:57] ghost commented on #27
@kd-ods confirms, removing this

[2018-07-04 16:00] #27 closed, assigned to nobody

[2018-07-05 13:32] timgdavies opened #37 "Update width of schema reference page"
For the schema reference page, we need a bit more width.

Ideally changing, for this page only, from 42 to 62rem:

[code]

[2018-07-05 13:50] ghost commented on #37
We need to chat to @kd-ods about this - do we want every page wider? Or just this one?

[2018-07-06 11:30] kd-ods commented on #37
I think we need to make all pages a little wider, looking at how balanced things look in [Matt's mockup](https://drive.google.com/drive/folders/1p28Jfqky1OLFVfJYjP3Q0bYGG5FEbFER). I think we can make the left hand column a little narrower too. @odscjames  - did Matt leave you with some useful css or zeplin snippets?

[2018-07-10 13:21] ghost commented on #37
We're ok with just making all pages wider - from meeting call now.

[2018-07-10 13:48] #37 closed, assigned to nobody

[2018-07-10 14:50] ghost commented on #22
https://www.caktusgroup.com/blog/2017/10/23/css-tip-fixed-headers-and-section-anchors/ from TimD - supect Sphinx will make applying this very difficult!

[2018-07-10 14:54] timgdavies commented on #22
*nods* I'm trying to remember where I've grappled with this before: I think it is mostly CSS level fix though?

[2018-07-10 14:55] ghost commented on #22
You need to change some HTML - that's the bit that I suspect will be hard.

[2018-07-10 16:40] timgdavies commented on #22
Adding this seems to help:

[code]

any reason we would not want to do that?

[2018-07-11 08:58] kd-ods opened #38 "Styling tweaks for front page 'cards'"
Can we please have the cards on the front page looking a bit more [like this](https://drive.google.com/file/d/1EavA7Q9z4_m8jiKPIWeeOv_W3qFHDAiP/view?usp=sharing)? i.e.:

- grey borders
- border-radius
- more margin around cards
- one-off style change for links: no underline

[2018-07-11 10:17] ghost commented on #22
I'm not certain it's always guaranteed to be 60px, but given the use case it doesn't matter if it's slightly off. (We could try and use JS to correct for that but I think that's overkill.) I think this makes that an OK fix! I'll put that in.

[2018-07-11 13:31] #38 closed, assigned to nobody

[2018-07-11 14:55] ghost opened #39 "Can we now remove the add-to-conf.py file and instruction in the README"
I think not - if you do so it will use the theme installed by pip and not the local theme in /vagrant

But that means this step is only needed by people who want to actively work on the theme - so we can improve the instructions!

[2018-07-11 17:19] kd-ods commented on #15
@odscjames, it looks like the images have un-centred themselves?!

[2018-07-11 21:30] ghost commented on #15
Sorted

[2018-07-12 08:37] kd-ods commented on #20
I think this improves it a bit:

div.oods-main-document div.toctree-wrapper ul {
    list-style-type: none;
    border-left: 6px solid #eee;
    margin: 50px 0 50px 20%;
}

div.oods-main-document div.toctree-wrapper ul li {
    margin-bottom: 20px;
}

[2018-07-12 08:54] kd-ods commented on #2
Regardless of the accordion effect, can we move the styling towards the [mockup](https://drive.google.com/file/d/14a-kwOUqXoC7qREu6b58fdN_DkjPY5Ar/view?usp=sharing). i.e.:

- light grey background
- white full-width containers for the menu items
- lots of white space
- grey border on the right-hand side

[2018-07-12 09:01] kd-ods opened #40 "navbar - yellow underline highlight"
@odscjames I think this highlight line needs to be wider: at least 4px (not 2px). And the padding under the nav elements (.py-4) reduced to maybe 1rem?

[2018-07-12 09:27] kd-ods commented on #28
@odscjames Can we make the link underline lighter (say #D0EFEF) and bring it as close to the text as possible, in line with the [mockup](https://drive.google.com/file/d/14a-kwOUqXoC7qREu6b58fdN_DkjPY5Ar/view?usp=sharing)?

[2018-07-12 14:17] ghost commented on #40
Done 4px.

Reducing the padding also reduces the padding under the name top left. Do we want to reduce only underneath or on top to? This needs some thought I think.

[2018-07-12 14:23] ghost commented on #20
Applied - I'm not sure about the % for the top margin measurement tho, but that's a tiny detail for later.

[2018-07-12 14:39] ghost commented on #28
Changed colour. No top/bottom padding but the line height means there is still some space.

[2018-07-12 15:01] ghost commented on #2
Done some work on this - might want to tweak a bit more tho

[2018-08-01 12:58] kd-ods opened #41 "Improve table styling for schema reference page"
On [this page](http://standard.openownership.org/en/schema-beta-2/schema/reference.html#interest), the tables are really not very user-friendly.

I'm not sure what our options are for re-formatting and styling these tables are. i.e. how difficult reformatting them as two columns would be eg

Property / Title / Type / Format/ Required | Description
--------------------------------------------------

[2018-08-01 13:05] timgdavies commented on #41
We can update the directives to generate different styles of table (well @bjwebb certainly can).

Might be worth doing a few more design mock-ups - as we've tried various layouts to try and get to something that fits data in well.

[2018-09-25 17:10] kd-ods commented on #22
This problem still exists, but is half resolved. Things are a bit more complicated than first appear. The in-page anchors as used by the menu system use the ids on the section elements, for example:

<div class="section" id="entitystatement">

... is linked to from the menu with...

http://standard.openownership.org/en/schema-beta-2/schema/reference.html#entitystatement

The headings there look fi

[2018-10-17 10:33] kd-ods commented on #41
As a first effort, can we just restyle to something like:

![image](https://user-images.githubusercontent.com/35495305/47080585-4dafcd00-d200-11e8-9463-b69c90b8d414.png)

In essence:

- Header row has the signature blue/green colour. (Maybe put headings on different lines to reflect odd-even row contents, as in the above mockup?)
- Even rows have a light grey background, and a heavy top border
- O

[2019-02-11 14:51] rhiaro commented on #36
I can't build with this version of docson either:

[code]

Don't know what I'm missing.

[2019-02-22 13:21] kd-ods opened #43 "Make changes to the vagrant box so translations can be built and maintained"
We're making use of Transifex to translate the schema and docs. See the [readme here](https://github.com/openownership/data-standard/blob/master/README.md)

Users need to be able to:

- Checkout and build any release of the docs in any available language (meaning that both the theme and the docs would be built in the given language).
- Push changes to the English language version of the docs, for

[2019-02-22 13:22] kd-ods commented on #43
@odscjames I don't have permissions to assign this issue, but need to assign it to you!

[2019-02-26 08:15] ghost commented on #43
Assigned to me, tho is @rhiaro looking at this?

[2019-02-26 08:42] rhiaro commented on #43
@odscjames I need to consult with you about the vagrant side of things please!

[2019-04-02 15:45] ghost commented on #43
@rhiaro Sure, let me know when you want to chat or add things here!

[2019-05-22 20:55] rhiaro commented on #36
Replaced the submodule with a static copy of the files because that seems easier to debug and marginally less hacky than having a submodule checked out at a specific past commit on a specific branch.

[2019-06-12 11:10] ghost opened #45 "Vagrant: add gettext and pybabel to ubuntu packages installed"
Needed for I18N

[2019-06-27 13:23] ghost commented on #41
As a first pass at the easy bits, how is this?

![Screen Shot 2019-06-27 at 14 21 57](https://user-images.githubusercontent.com/37832009/60269775-02999e00-98e7-11e9-89b1-9ae11bd978cd.png)

Before deploying, I need to check these tables aren't used elsewhere.

[2019-06-27 15:49] ghost commented on #22
Ok, to duplicate: Go to /schema/concepts.html , go to "Data model overview", click "Entity statement". Seen in Firefox and Chrome.

Where as clicking in top menu, "Data Schema", in side menu "Schema Browser", then "Entity Statement" is fine.

[2019-06-27 16:33] ghost commented on #22
I tried the suggested CSS, and tho it works it catches other page elements and destroys those, and also does something very weird to links near by! So need to work on that a bit more ....

[2019-06-28 14:20] kd-ods commented on #41
The only substantial issue with that is that 'Name' doesn't appear in the header (i.e. But both property names and titles are listed).

Maybe change 'Title' to 'Property'?

[2019-07-08 07:28] siwhitehouse opened #48 "Internationalisation: string not being translated in navigation menu"
See http://standard.openownership.org/ru/0.2-dev-ru-translation/ where

 is not translated.

Checking in https://www.transifex.com/OpenDataServices/bods-theme/translate/#ru/sphinx-pot/163569068 shows that this did not get pushed up to Transifex.

I re-ran `python setup.py extract_messages` locally and pushed to Transifex (as per https://github.com/openownership/data-standard-sphinx-theme) and I do

[2019-07-10 08:59] rhiaro commented on #48
It's because the name is included via the `project` variable on https://github.com/openownership/data-standard-sphinx-theme/blob/master/oods/sphinxtheme/navbar.html#L5 which is set in the main data-standard repo config https://github.com/openownership/data-standard/blob/master/docs/conf.py#L57

OCDS solves this problem by not using the `project` variable in the template, and inserting the string d

[2019-07-16 16:27] ghost commented on #41
As that issue already exists, can I go ahead with merging in the CSS to make the table match the screenshot and then look at other issues raised in this ticket?

I have asked @rhiaro to review https://github.com/openownership/data-standard-sphinx-theme/pull/49

[2019-07-17 08:58] kd-ods commented on #41
yes, @odscjames - go for it.

[2019-07-17 14:50] ghost commented on #41
https://github.com/openownership/data-standard/pull/229 Adds this to the 0.2 work, in the russian translation branch.

[2019-07-18 08:03] rhiaro commented on #22
Adding

[code]
and removing the

[code]

from before, seems to catch the right elements and nothing extra.

Will test in different browsers, then make the change.

[2019-07-18 15:21] #22 closed, assigned to rhiaro

[2019-08-06 09:55] siwhitehouse commented on #48
This is fixed by #51

[2019-08-06 09:55] #48 closed, assigned to rhiaro, siwhitehouse

[2019-08-09 13:44] kd-ods commented on #41
Fix now visible at http://standard.openownership.org/en/master/schema/reference.html#schema-identifier so closing.

[2019-08-09 13:44] #41 closed, assigned to nobody

[2019-11-27 11:21] siwhitehouse opened #55 "Put user analytics system in place"
We're not currently using Google Analytics to track readership of the documentation ([ReadTheDocs admin](https://readthedocs.org/dashboard/beneficial-ownership-data-standard/advanced/))

And currently there's [no in-built RTD analytics](https://docs.readthedocs.io/en/stable/commercial/analytics.html?highlight=analytics)

If there is no other mechnism, then we should get something in place.

[2019-11-27 11:22] siwhitehouse commented on #55
Copied from the (internal) Open Data Services issue at http://bods.opendataservices.coop/redmine/issues/510

[2020-02-10 17:16] stevenday opened #56 "'Rebrand' the standard to look more like OpenOwnership.org"
We'd like to make the standard documentation feel more like an OpenOwnership product and less standalone. I believe the intention originally was to maintain and project its independence, but the current belief is that this is more detrimental to the use of the standard than a benefit.

Practically, this looks like:
- [x] Using the standard fonts for headings (Publico Headline) and body text (Atlas

[2020-02-10 17:23] stevenday commented on #55
I believe this ticket is slightly out of date now that we use Matamo, however, we'd like to change this to Google Analytics so that all our usage analytics are available in one place. I can generate and provide the relevant GA code, but I presume we'll also need to update the privacy/cookies policy to refer to this.

[2020-02-13 10:50] siwhitehouse commented on #55
@stevenday Yes, I failed to update the issue when I copied it across. We [tell users that we use Matomo](http://standard.openownership.org/en/v0-2-0/about/privacy-notice.html#understanding-website-visitor-and-traffic-patterns) and we include that advice in Russian translation as well.

We do not currently have an agreed mechanism for making ad hoc updates to the website in between schema versions.

[2020-02-17 11:15] Lathrisk commented on #55
It doesn't look like the piwik snippet is tracking anything too complex so imagine this will be a like-for-like replacement with Google Analytics.

@stevenday have you set up a Google Analytics account? I think they provide a snippet to insert that contains the GA code. Could you send that over, or provide access to the GA account?

(Also, I can set up a branch with the relevant changes into which

[2020-02-17 12:02] stevenday commented on #55
@Lathrisk - I just created one, here's the snippet:

[code]

If the current code is doing anything fancy to track other resources (PDF downloads for example), we should probably use our Google Tag Manager setup instead (we have this on the main site since a lot of the resources are downloadable). Just let me know and I can set that up.

I think a new branch + PR which we can then resolve the trans

[2020-02-19 13:57] Bjwebb opened #58 "Remove requirements file from this repository"
As far as I can see [requirements.txt](https://github.com/openownership/data-standard-sphinx-theme/blob/master/requirements.txt) is not used anywhere ([the one from data-standard](https://github.com/openownership/data-standard/blob/master/requirements.txt) is used instead). Can we just remove it?

The same goes for [requirements.in](https://github.com/openownership/data-standard-sphinx-theme/blob/

[2020-02-20 16:40] ghost commented on #58
Yes, I think so.

I think the proper thing to happen here is that the real requirements of this theme move into setup.py

[2020-02-20 17:22] Bjwebb commented on #58
Yes.

sphinxcontrib-opendataservices is in the requirements.in, which [has the problems we discussed earlier](https://github.com/OpenDataServices/sphinxcontrib-opendataservices/issues/17#issuecomment-588988597). But, I'm not sure that is really a requirement of this repo!

[2020-02-24 10:38] stevenday opened #60 "Minify assets as part of the build process"
At present none of the assets for the data standard page are minified. Uglify has already been added as a dependency but is not used as part of the grunt pipeline. In the first instance this should be added as part of the existing pipeline.

Alternatively, more modern pipeline processes or bundlers could be considered (i.e. webpack etc).

Related: https://github.com/openownership/data-standard-sph

[2020-03-03 14:06] Bjwebb commented on #58
Both requirements files were removed in https://github.com/openownership/data-standard-sphinx-theme/pull/62

[2020-03-03 14:06] #58 closed, assigned to nobody

[2020-03-20 11:11] #56 closed, assigned to Lathrisk

[2020-03-20 17:00] stevenday opened #67 "Use ReadTheDocs' version warning banners"
I've recently renamed all the released branches in the standard repo, so that we can take advantage of ReadTheDocs' ability to inject warning banners for viewers of older versions.

This works fine for 0.0.1->0.0.3 which use a standard theme, but doesn't work in 0.1.0 or 0.2.0 which use our custom theme. We need to figure out why (have we lost/overridden a bit of the default layout?). Once they ap

[2020-03-20 17:07] stevenday opened #68 "Fonts being loaded from /_static/bootstrap-4.0.0/css/fonts only in Russian"
See console on http://standard.openownership.org/ru/0.2.0/

For some reason, other languages load these fonts from `_static/fonts`. The RU version loads them from there *and* tries to get them from the boostrap folder as well. I have no idea why at this stage, but it is replicable in the dev vagrant box:

- Check out master of this repo
- Checkout 0.2.0 of the standard within
- Build with `BODSLAN

[2020-03-20 17:10] stevenday commented on #2
I'm closing this, as I think it's either done, or out of date. Please re-open if not

[2020-03-20 17:10] #2 closed, assigned to nobody

[2020-03-20 17:11] stevenday commented on #20
I'm closing this, as I think it's either done, or out of date. Please re-open if not

[2020-03-20 17:11] #20 closed, assigned to nobody

[2020-03-20 17:11] stevenday commented on #24
I'm closing this, as I think it's either done, or out of date. Please re-open if not

[2020-03-20 17:11] #24 closed, assigned to nobody

[2020-03-20 17:12] stevenday commented on #28
I'm closing this, as I think it's either done, or out of date. Please re-open if not

[2020-03-20 17:12] #28 closed, assigned to nobody

[2020-03-20 17:12] stevenday commented on #30
I'm closing this, as I think it's either done, or out of date. Please re-open if not

[2020-03-20 17:12] #30 closed, assigned to nobody

[2020-03-20 17:12] stevenday commented on #31
I'm closing this, as I think it's either done, or out of date. Please re-open if not

[2020-03-20 17:12] #31 closed, assigned to nobody

[2020-03-20 17:13] stevenday commented on #32
I'm closing this, as I think it's out of date with the new theme. Please re-open if not

[2020-03-20 17:13] #32 closed, assigned to nobody

[2020-03-20 17:14] stevenday commented on #34
I'm closing this as a wontfix, since it's been nearly two years

[2020-03-20 17:14] #34 closed, assigned to nobody

[2020-03-20 17:14] stevenday commented on #35
The navbar has been replaced in the rebrand, so I don't think this is relevant any more.

[2020-03-20 17:14] #35 closed, assigned to nobody

[2020-03-20 17:15] stevenday commented on #40
Closing as this is probably done in the above commit, but in any case is out of date now with the rebrand.

[2020-03-20 17:15] #40 closed, assigned to nobody

[2020-03-20 17:17] stevenday commented on #43
From #45 this potentially includes adding gettext and pybabel to the packages. Presumably also the transifex client.

[2020-03-20 17:17] stevenday commented on #45
Closing as a dupe/part of #43

[2020-03-20 17:17] #45 closed, assigned to nobody

[2020-03-20 17:18] stevenday commented on #39
Closing as dupe of #5

[2020-03-20 17:18] #39 closed, assigned to nobody

[2020-11-12 10:01] #55 closed, assigned to nobody

[2021-11-09 11:23] kd-ods commented on #67
This was also reported here: https://github.com/openownership/data-standard/issues/76. That issue has been closed as a duplicate.

[2022-01-09 09:40] #67 closed, assigned to nobody

[2022-02-16 11:46] ghost opened #75 "Branches: 0.1.0-theme & for-standard-v0-1"
We have both these branches.

Commit https://github.com/openownership/data-standard/commit/6214029134d2b0dbe38f58dfc10cf70ba6c69725 changes which one is used.

I'm not clear what the situation is here:
* Can we just delete the branch for-standard-v0-1?
* Is there anything important in for-standard-v0-1 that we need to port to 0.1.0-theme first?

Assigning to @rhiaro  as she did the new branch work

[2022-02-16 18:38] rhiaro commented on #75
That's weird. I remember needing to pin 0.1.0 to a point before which certain changes were made that might have adversely affected the 0.1.0 docs (ie. version upgrades to something that weren't compatible with a different version of python in the rtd config) before I could make the html change we needed for the automatic version warning to show.. but I don't remember seeing or interacting with the

[2022-02-22 08:59] ghost opened #77 "README instructions "Follow the instructions in the data-standard README.md.""
Put in in https://github.com/openownership/data-standard-sphinx-theme/commit/733f083b91edf5dd32597417589e6495be142fb0

Can we clarify this a lot, or just remove it? It's not clear at all which instructions we mean to be followed here.

[2022-02-22 13:26] siwhitehouse commented on #77
These refer to the instructions in the README under Technical Documentation. These were three sections:

### Dependencies
Do we still want to point people to the instructions to install the dependencies?

### Build the docs locally
Instead of referring people back here, that now has instructions on building them from within the data standard repo. From this repo we no longer need people to read th

[2022-06-20 13:17] kd-ods opened #81 "Version warning not appearing on ReadTheDocs for BODS v0.2.0"
We've just release [BODS v0.3.0](https://standard.openownership.org/en/0.3.0/).

When visiting [v0.1.0](https://standard.openownership.org/en/0.1.0/) the version warning appears. When visiting [v0.2.0](https://standard.openownership.org/en/0.2.0/) it doesn't appear.

@rhiaro did [some work to enable the ReadTheDocs version banner](https://github.com/openownership/data-standard-sphinx-theme/pull/74

[2022-06-23 11:01] ghost commented on #81
I think answer is:

BODS 0.2 Locks the theme to the commit before Amy's commit to fix this: 8b05124bd0c5aae102a0f60f892d4d9fb83e9b4b

Maybe if someone upgraded the locked version in 0.2 and hence let RTD rebuild the site it would be fine?

----------------

Additional problem noticed while working on this:

0.2.0 locks version of the theme - good! https://github.com/openownership/data-standard/blo

[2022-06-23 13:25] kd-ods commented on #81
Thanks for taking a look at this @rhiaro and @odscjames .